@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
}

@layer base {
  body {
    @apply font-sans bg-[#FCFAFA] text-[#1A1A1A] antialiased selection:bg-gray-100;
  }
}

/* Scrollbar invisibile per lo scorrimento orizzontale */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Transizioni morbide per l'interfaccia */
.smooth-transition {
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
